# Core dependencies
torch>=2.0.0
transformers>=4.48.3 
accelerate>=1.4.0
av>=14.1.0
qwen-vl-utils>=0.0.10

huggingface_hub>=0.26.0
pillow>=9.5.0
numpy>=1.24.0
datasets

# Video processing
opencv-python>=4.8.0
decord>=0.6.0  # Optional but recommended for better video handling
ffmpeg-python
imageio_ffmpeg>=0.6.0 
moviepy>=2.1.2

# Qwen model dependencies
tokenizers>=0.21.0
safetensors>=0.5.1

# Specialized dependencies 
# autoawq==0.2.8  # for this you need triton and to install it use "pip install --no-deps --no-build-isolation autoawq" after you install the reqs 
#flash-attn>=2.0.0;platform_system!="Darwin"  # Optional for performance, exclude on MacOS
triton; sys_platform == "linux"
# triton for windows
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp312-cp312-win_amd64.whl; sys_platform == "win64" and (python_version >= "3.12" and python_version < "3.13")
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp311-cp311-win_amd64.whl; sys_platform == "win64" and (python_version >= "3.11" and python_version < "3.12")
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp310-cp310-win_amd64.whl; sys_platform == "win64" and (python_version >= "3.10" and python_version < "3.11")
https://github.com/woct0rdho/triton-windows/releases/download/v3.1.0-windows.post8/triton-3.1.0-cp38-cp38-win_amd64.whl; sys_platform == "win64" and (python_version >= "3.8" and python_version < "3.9")
# autoawq
# For error handling and utilities
tqdm>=4.65.0
psutil>=5.9.5
packaging>=23.1

# Specify this to allow newer transformers with autoawq
#--find-links https://github.com/huggingface/transformers/releases 

